:root {

    --padding-and-gap: 1rem;
    --border-radius: 1rem;

    /*Colors*/

    /*Primary*/

    --primary-bright-blue: 245, 75%, 52%;
    --primary-pale-blue: 225, 100%, 94%;

    /*Neutral*/

    --neutral-dark-blue: 223, 47%, 23%;
    --neutral-desaturated-blue: 224, 23%, 55%;
    --neutral-very-pale-blue: 225, 100%, 98%;

    /*Typography*/

    --font-family: 'Red Hat Display', sans-serif;
    --font-size: 1rem;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-900: 900;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    border: none;
    display: block;
}

html {
    color-scheme: light only;
}

html,
body,
.main {
    background-color: hsl(var(--primary-pale-blue));
    color: hsl(var(--neutral-dark-blue));
    font-family: var(--font-family);
    font-size: var(--font-size);
    min-height: 100dvh;
    min-height: 100vh;
}

.main {
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    place-items: center;
}

.main__wrapper {
    border-radius: var(--border-radius);
    box-shadow: 0 10px 20px -5px hsl(var(--neutral-desaturated-blue));
    display: grid;
    max-width: 375px;
    overflow: hidden;
    width: 90vw;
}

.wrapper__image {
    width: 100%;
}

.wrapper__section {
    background-color: hsl(var(--neutral-very-pale-blue));
    display: grid;
    gap: var(--padding-and-gap);
    padding: var(--padding-and-gap);
    text-align: center;
}

.section__heading {
    font-weight: var(--font-weight-700);
    text-transform: capitalize;
}

.section__info {
    color: hsl(var(--neutral-desaturated-blue));
    line-height: 1.8;
    text-align: center;
}

.section__div {
    align-items: center;
    background-color: hsla(var(--neutral-desaturated-blue), 0.05);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--padding-and-gap);
    padding: var(--padding-and-gap);
}

.div__plan {
    flex: 1;
    font-weight: var(--font-weight-500);
    text-align: start;
    text-transform: capitalize;
}

.div__price {
    color: hsl(var(--neutral-desaturated-blue));
    display: block;
}

.section__button {
    background-color: hsl(var(--primary-bright-blue));
    border-radius: var(--border-radius);
    box-shadow: 0 10px 20px -5px hsl(var(--neutral-desaturated-blue));
    color: hsl(var(--primary-pale-blue));
    cursor: pointer;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-900);
    padding: var(--padding-and-gap);
    text-transform: capitalize;
}

.section__link {
    color: hsla(var(--neutral-desaturated-blue));
    font-weight: var(--font-weight-900);
    text-decoration: none;
    text-transform: capitalize;
}

/*active states*/

.div__link:active,
.div__link:focus {
    color: hsla(var(--primary-bright-blue), 0.6);
    text-decoration: none;
    transition: all 2s;
}

.section__button:active,
.section__button:focus {
    background-color: hsla(var(--primary-bright-blue), 0.5);
    transition: all 2s;
}

.section__link:active,
.section__link:focus {
    color: hsl(var(--neutral-desaturated-blue));
    transition: all 2s;
}

/*330px*/
@media (min-width:20.625em) {
    .section__div {
        flex-direction: row;
    }
}

/*538px*/
@media (min-width: 33.625em) {
    .main {
        background-image: url("../images/pattern-background-desktop.svg");
    }
}